<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Ip_Productactivity>
            <version>1.0.4</version>
        </Ip_Productactivity>
    </modules>
    <frontend>
        <layout>
            <updates>
                <productactivity>
                    <file>ip_productactivity.xml</file>
                </productactivity>
            </updates>
        </layout>
<!--        <translate>
            <modules>
                <Ip_Productactivity>
                    <files>
                        <default>Ip_Productactivity.csv</default>
                    </files>
                </Ip_Productactivity>
            </modules>
        </translate>-->
    </frontend>
    
    <global>
        <models>
            <productactivity>
                <class>Ip_Productactivity_Model</class>
                <resourceModel>productactivity_mysql4</resourceModel>
            </productactivity>
        </models>
        <resources>
            <productactivity_setup>
                <setup>
                    <module>Ip_Productactivity</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productactivity_setup>
            <productactivity_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productactivity_write>
            <productactivity_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productactivity_read>
        </resources>
        <blocks>
            <productactivity>
                <class>Ip_Productactivity_Block</class>
            </productactivity>
        </blocks>
        <helpers>
            <productactivity>
                <class>Ip_Productactivity_Helper</class>
            </productactivity>
        </helpers>
    </global>
    <admin>
        <routers>
            <ip_productactivity>
                <use>admin</use>
                <args>
                    <module>Ip_Productactivity</module>
                    <frontName>productactivity</frontName>
                </args>
            </ip_productactivity>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <productactivity translate="title" module="productactivity">
                                            <title>Productactivity</title>
                                        </productactivity>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
<!--        <menu>
            <ip translate="title" module="productactivity">
                <title>Ip</title>
                <sort_order>65</sort_order>
                <children>
                    <productactivity translate="title" module="productactivity">
                        <title>Productactivity</title>
                        <sort_order>65</sort_order>
                        <children>
                            <settings translate="title" module="productactivity">
                                <title>Settings</title>
                                <action>adminhtml/system_config/edit/section/productactivity</action>
                                <sort_order>40</sort_order>
                            </settings>
                        </children>
                    </productactivity>
                </children>
            </ip>
        </menu>-->
    </adminhtml>
    <default>
        <productactivity>
            <options>
                <actions>1</actions>
                <price>1</price>
                <salable>1</salable>
                <noproduct>There are no products that match your criteria. Please try again with different options.</noproduct>
                <count>5</count>
            </options>
            <topsell>
                <enable>1</enable>
                <title>TOPSELLERS</title>
                <count>5</count>
                <days>365</days>
            </topsell>
            <new>
                <enable>1</enable>
                <title>NEW PRODUCTS</title>
                <count>5</count>
                <from>2007-08-23</from>
            </new>
            <popular>
                <enable>1</enable>
                <title>POPULAR PRODUCTS</title>
                <count>5</count>
            </popular>
            <toprated>
                <enable>1</enable>
                <title>TOPRATED PRODUCTS</title>
                <count>5</count>
            </toprated>
            <review>
                <enable>1</enable>
                <title>OUR LAST 5 REVIEWS</title>
                <count>5</count>
            </review>
        </productactivity>
    </default>
</config>